*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar-1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #999;
    background: #666;
    
}
.subscribe-btn{
   width: 120px;
    font-size: 15px;
    text-transform: uppercase;
    background: rgb(86, 123, 149);
    border: hidden;
    height: 30px;border-radius: 5px;
}
.login-btn{
    font-size: 15px;
    width: 70px;
    height: 30px;
    text-transform: uppercase;
    background: rgb(86, 123, 149);
    border: hidden;
    border-radius: 5px;
}

.space-consoms{
    font-size: 20px;
}
nav ul{
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}
.profile{
    text-align: center;
    margin-top: 100px;
    
}
.profile img{
    max-width: 100%;
}
figcaption{
    text-align: center;
    text-align: justify;
    margin:auto 12% ;
    
}
.figcap{
margin-bottom: 0.78125rem;
margin-top: 0;
font-family: nyt-imperial,georgia,'times new roman',times,serif;
font-size: 0.9rem;
line-height: 1.3625rem;
width: calc(100% - 40px);
max-width: 700px;
}
.css-vp77d3{
    display: flex;
    align-items: center;
    margin: 30px auto;
}
.css-w2r3{
    margin-bottom:40px ;
}
.css-w2r3 ul {
    display: flex;
    justify-content: space-between;
}
.css-w2r3 ul li{
list-style-type: none;
}
.css-w2r3 ul li a{
    text-decoration: none;
    margin-right: 15px;
    background: #eee;
    color: black;
    padding: 5px;
    width: 15px;
    height: 15px;
    border: 1px #eee solid;
    border-radius: 100%;
}
.css-w2r3 ul li a:hover{
    background: white;
}
.css-5353{
display: flex;
}

.css-53u6y8 {
margin-left: auto;
margin-right: auto;
width: 100%;

}
.css-158dogj {
margin-bottom: 0.78125rem;
margin-top: 0;
font-family: nyt-imperial,georgia,'times new roman',times,serif;
font-size: 1.125rem;
line-height: 1.5625rem;
margin-left: 20px;
margin-right: 20px;
width: calc(100% - 40px);
max-width: 600px;
}
.css-xt80pu {
width: 100%;
width: calc(100% - 40px);
max-width: 600px;
margin-left: 20px;
margin-right: 20px;
}
.css-1od6ynp{
    text-align: center;
}
.css-1od6ynp ul li{
    list-style-type: none;
}
.css-1od6ynp a{
    text-decoration: none;
   
}
.border1{
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 72px;
    margin: 0px auto 20px;
}
.border2{
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 72px;
    margin: 0px auto 20px;
    margin-top: 10px;
}
.gtm-tagged{
    display: flex;
}
.inflation-container{
 margin: auto 10%;  
}
.g-inflation{
    position: relative;
}
.g-type_copy{
    position: absolute;
    top: 27.2%;
    left: 0.15%;
    width: 255px;
}
.g-type_copy1{
    position: absolute;
    top: 27.2%;
    left: 25.15%;
    width: 255px;
}
.g-type_copy2{
    position: absolute;
    top: 27.2%;
    left: 50.15%;
    width: 270px;
}
.g-type_copy3{
    position: absolute;
    top: 27.2%;
    left: 77.15%;
    width: 280px;
}
.g-type_copy4{
    position: absolute;
    top: 75.2%;
    left: 0.15%;
    width: 250px;
}
.g-type_copy5{
    position: absolute;
    top: 75.2%;
    left: 25.15%;
    width: 250px;
}
.g-type_copy6{
    position: absolute;
    top: 75.2%;
    left: 50.15%;
    width: 275px;
}

.g-type_copy7{
    position: absolute;
    top: 75.2%;
    left: 77.15%;
    width: 280px;
}
.g-aiPstyle0{
    font-size: 0.95rem;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    line-height: 17px;
}
.inflation{
    max-width: 100%;
}
.g-sc{
    font-weight: bold;
}
.story-footer{
    margin: 30px auto;
   
}
.story-footer::before{
    width: 60px;
    content: "";
    display: inline-block;
    height: 1px;
    background-color: rgb(0, 0, 0);
}
.story-info p{
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 500;
    font-style: normal;
    font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.css-16f3y1r{
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 0.875rem;
    line-height: 1.125rem;

}
.css-cnj6d5{
    color: #888;
    font-size: 0.75rem;
}
.css-158dogj a:hover{
    text-decoration: none;
}
.comments ul{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.btn{
    padding: 13px;
    width: 270px;
    background-color: rgb(86, 123, 149);
    color: white;
    border: hidden;
    border-radius: 3px;
}
.comments li{
    list-style-type: none;
}
.comments li a{
    margin: auto 7px;
    background: #E0E6EE ;
    padding: 7px;
    border-radius: 50%;
    color: #333;
}
.comments li a:hover{
    background-color: white;
}
.css-vy7nt4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    border-bottom: 1px solid black;
}
.css-vy7nt4 img{
    max-width: 100%;
    width: 300px;
    height: 250px;
}
.css-vy7nt4 h3,p{
    max-width: 290px;
}
.css-vy7nt4 a{
    text-decoration: none;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.375rem;
}
.css-vy7nt4::after{
    width: 0px;
    content: "";
    display: inline-block;
    height: 1px;
    background-color: rgb(0, 0, 0);
}
.css-ctzi8t{
    font-size: 0.6rem;
    text-align: right;
    color: rgb(153, 153, 153);
}
.css-1bds1ip{
    color: rgb(18, 18, 18);
}
.css-1py452b{
   color: rgb(153, 153, 153);
   font-size: 0.75rem;
   font-weight: 500;
   line-height: 1.25rem;
}
.css-vy7nt3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.css-vy7nt3 img{
    width: 300px;
    height: 200px;
}
.css-vy7nt3 a{
    text-decoration: none;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}
.editer-pick{
margin: 20px auto;
}
.editer-pick a{
    text-decoration: none;
    color: black;
}
.css-hd8liv{
    margin: 20px;
}
.img-info{
    border-top: 1px solid black;
}
.css-hihr2e{
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 5%;
}
#most-popular-section{
    margin-left: 30px;
}
#most-popular-section .css-hd8liv{
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 15px 0px;
}
.css-18cmw3s{
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: 15px 0px;
}
.css-18cmw3s{
    margin: 10px auto;

}
.css-18cmw3s a{
    text-decoration: none;
    color:rgb(18, 18, 18);
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.375rem;
    
}

.nav-bar{
margin: 30px 5%;
}
.nav-bar::before{
        background-color: #fff;
        border-bottom: 1px solid #e2e2e2;
        border-top: 2px solid #e2e2e2;
        content: '';
        display: block;
        height: 1px;
        margin-top: 0;
}
.nav-header{
display: flex;
justify-content: space-between;
margin: 10px auto;
}
.css-oylsik{
    width: 200px;
    height: 50px;
}
.nav-header a{
    color: rgb(86, 123, 149);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    text-decoration: none;
}
nav ul{
    display: flex;
}
nav ul li h3{
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 10px;
}
nav ul li a{
    display: block;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    line-height: 18px;
    font-size: 15px;
    margin-bottom: 5px;
}
nav ul li a:hover{
    text-decoration: underline;
}
.subscribe{
    border-left: 1px solid rgb(226, 226, 226);
    
}
.subscribe a,.sbscribe-1{
    margin-left: 15px;
    
}
.subscribe a h3{
    text-transform: capitalize;
}
.css-r5ic95 {
    display: inline-block;
    height: 13px;
    width: 13px;
    margin-right: 7px;
    vertical-align: middle;
}
.subscibe-header h3{
display: inline;
}
footer{
    margin: 40px auto;
}
#footer1::before{
    content: "";

    height: 1px;
    background-color: #999;

    margin: 5px 7%;
    display: block;
}
footer ul{
    display: flex;
    margin: auto 7%;
}
footer ul li{
    list-style-type: none;
    margin-left: 15px;
}
footer ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.8rem;
    color: #666;
}
footer ul li a:hover{
    text-decoration: underline;
}

@media(min-width:680px){
    .css-5353,.css-xt80pu{
        margin-left: 5%;
    }
    
    }
    @media(min-width:740px){
        .css-5353 ,.css-xt80pu{
            margin-left: 8%;
        }
        
        }
        @media(min-width:765px){
            .css-5353 p{
                font-size: 0.80rem;
            }
            
            }
            @media(min-width:795px){
                .css-5353 p{
                    font-size: 0.9rem;
                }
                .css-5353 .css-16f3y1r{
                    font-size: 0.9rem;
                }
                .css-z3e15g .css-158dogj{
                    font-size: 1rem;
                }
                }
                @media(min-width:870px){
                    .css-5353 p{
                        font-size: 1.0rem;
                    }
                    
                    }
                    @media(min-width:920px){
                        .css-5353 p{
                            font-size: 1.1rem;
                        }
                        
                        }
                        @media(min-width:1020px){
                            .css-5353,.css-xt80pu{
                                margin-left: 20%;
                            }
                            
                            }
                            @media(max-width:1024px){
                                aside{
                                    display: none;
                                }}
                                @media(min-width:1025px){
                                    .css-5353{
                                        display: flex;
                                    }
                                    aside{
                                        margin: 100px 10%;
                                    }
                                    aside a{
                                        text-decoration: none;
                                        margin: 20px;
                                        color: rgb(51, 51, 51);;
                                    }
                                    aside a h3{
                                        font-family: nyt-franklin, helvetica, arial, sans-serif;
                                        font-size: small;
                                        margin-left: 15px;
                                    }
                                    .picks::after{
                                        border-bottom: 1px solid black;
                                    }
                                }
