*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
}
.newyork-img{
    text-align: center;
   
}.newyork-img img{
    max-width: 100%;
}
figcaption{
    margin:auto 350px auto 160px ;
    
}
.figcap1{
    color: #333;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    line-height: 1.125rem;
}
.figcap2{
    color: #888;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    line-height: 1.125rem;
}
.lead{
    margin: 40px 150px 20px 300px;
    font-weight: bold;
}
.lead a{
   border-bottom:1+px solid #DCE1E7;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.css-w2r3 ul{
display: flex;
justify-content: space-evenly;
}
.css-w2r3 ul li{
list-style-type: none;
margin-right: 16px;
}
.css-w2r3 ul li a{
    margin-left: 15px;
    border: 1px solid #DCE1E7 ;
    padding: 7px;
    border-radius: 50%;
    background:#F0F3F7 ;
    color: black;
}
.css-w2r3 ul li a:hover{
    background: white;
}
.css-53u6y8{
    width: 100%;
    
}
.css-53u6y8 p{
    margin-bottom: 0.78125rem;
    margin-top: 0;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    max-width: 600px;
    align-items: center;
}
.css-5353{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
aside{
    text-size-adjust: 100%;
    font: inherit;
   
}
.css-16l7vy9{
    max-width: 600px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;;
    text-align: center;
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
    margin: 35px auto;
}
.css-1od6ynp{
    text-align: center;
}
.css-1od6ynp ul li{
    list-style-type: none;
}
.css-1od6ynp a{
    text-decoration: none;
   
}
.border1{
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 72px;
    margin: 0px auto 20px;
}
.border2{
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 72px;
    margin: 0px auto 20px;
    margin-top: 10px;
}
.gtm-tagged{
    display: flex;
}
@media(max-width:1024px){
aside{
    display: none;
}

}