*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
}
.profile{
    text-align: center;
    
}
.profile img{
    max-width: 100%;
}
figcaption{
    text-align: center;
    text-align: justify;
    
}
.css-vp77d3{
    display: flex;
    align-items: center;
    margin: 30px auto;
}
.css-w2r3{
    margin-bottom:40px ;
}
.css-w2r3 ul {
    display: flex;
    justify-content: space-between;
}
.css-w2r3 ul li{
list-style-type: none;
}
.css-w2r3 ul li a{
    text-decoration: none;
    margin-right: 15px;
    color: #999;
    padding: 10px 0;
    width: 100%;
}
.css-5353{
display: flex;
flex-direction: column;
}

.css-53u6y8 {
margin-left: auto;
margin-right: auto;
width: 100%;

}
.css-158dogj {
margin-bottom: 0.78125rem;
margin-top: 0;
font-family: nyt-imperial,georgia,'times new roman',times,serif;
font-size: 1.125rem;
line-height: 1.5625rem;
margin-left: 20px;
margin-right: 20px;
width: calc(100% - 40px);
max-width: 600px;
}
.css-xt80pu {
width: 100%;
width: calc(100% - 40px);
max-width: 600px;
margin-left: 20px;
margin-right: 20px;
}
.css-1od6ynp{
    text-align: center;
}
.css-1od6ynp ul li{
    list-style-type: none;
}
.css-1od6ynp a{
    text-decoration: none;
   
}
.border1{
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 72px;
    margin: 0px auto 20px;
}
.border2{
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 72px;
    margin: 0px auto 20px;
    margin-top: 10px;
}
.gtm-tagged{
    display: flex;
}
.inflation-container{
 margin: auto 10%;  
}
.g-inflation{
    position: relative;
}
.g-type_copy{
    position: absolute;
    top: 27.2%;
    left: 0.15%;
    width: 255px;
}
.g-type_copy1{
    position: absolute;
    top: 27.2%;
    left: 25.15%;
    width: 255px;
}
.g-type_copy2{
    position: absolute;
    top: 27.2%;
    left: 50.15%;
    width: 270px;
}
.g-type_copy3{
    position: absolute;
    top: 27.2%;
    left: 77.15%;
    width: 280px;
}
.g-type_copy4{
    position: absolute;
    top: 75.2%;
    left: 0.15%;
    width: 250px;
}
.g-type_copy5{
    position: absolute;
    top: 75.2%;
    left: 25.15%;
    width: 250px;
}
.g-type_copy6{
    position: absolute;
    top: 75.2%;
    left: 50.15%;
    width: 275px;
}

.g-type_copy7{
    position: absolute;
    top: 75.2%;
    left: 77.15%;
    width: 280px;
}
.g-aiPstyle0{
    font-size: 0.95rem;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    line-height: 17px;
}
.inflation{
    max-width: 100%;
}
.g-sc{
    font-weight: bold;
}
.story-footer{
    margin: 30px auto;
   
}
.story-footer::before{
    width: 60px;
    content: "";
    display: inline-block;
    height: 1px;
    background-color: rgb(0, 0, 0);
}
.story-info p{
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 500;
    font-style: normal;
    font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.css-16f3y1r{
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 0.875rem;
    line-height: 1.125rem;

}
.css-cnj6d5{
    color: #888;
    font-size: 0.75rem;
}
@media(max-width:1024px){
aside{
    display: none;
}

}
@media(min-width:680px){
    .css-5353,.css-xt80pu{
        margin-left: 5%;
    }
    
    }
    @media(min-width:740px){
        .css-5353 ,.css-xt80pu{
            margin-left: 8%;
        }
        
        }
        @media(min-width:765px){
            .css-5353 p{
                font-size: 0.80rem;
            }
            
            }
            @media(min-width:795px){
                .css-5353 p{
                    font-size: 0.9rem;
                }
                .css-5353 .css-16f3y1r{
                    font-size: 0.9rem;
                }
                .css-z3e15g .css-158dogj{
                    font-size: 1rem;
                }
                }
                @media(min-width:870px){
                    .css-5353 p{
                        font-size: 1.0rem;
                    }
                    
                    }
                    @media(min-width:920px){
                        .css-5353 p{
                            font-size: 1.1rem;
                        }
                        
                        }
                        @media(min-width:1020px){
                            .css-5353,.css-xt80pu{
                                margin-left: 20%;
                            }
                            
                            }